In [1]:
import bs4, requests, webbrowser
import requests
import json
import pandas as pd

## Lista compagnie aeree europee

In [2]:
url='https://airmundo.com/it/blog/elenco-delle-compagnie-aeree-in-europa/'
s = requests.session()
response = s.get(url)
response.raise_for_status()
soup=bs4.BeautifulSoup(response.text, 'html.parser')
lieu=[]
for td in soup.select('td'):
    a = td.find('a')
    if a is not None:
        #print (a.attrs['href'])
        print(a.contents[0])
        lieu.append(a.contents[0])

Air Albania
Albawings
Austrian Airlines
Azerbaijan Airlines
Buta Airways
Brussels Airlines
TUI fly Belgium
Belavia
Bulgaria Air
Cyprus Airways
Croatia Airlines
Atlantic Airways
Danish Air Transport
Finnair
Air Austral
Air Caraïbes
Air Corsica
Air France
Corsair International
French bee
Transavia France
Twin Jet
Georgian Airways
Condor
Eurowings
Lufthansa
TUI fly Deutschland
Aegean Airlines
Olympic Air
Sky Express
Aer Lingus
Ryanair
Icelandair
Air Dolomiti
ITA Airways
Neos Air
Air Astana
SCAT Airlines
airBaltic
Luxair
Air Malta
Air Moldova
FlyOne
Air Montenegro
Norwegian
Widerøe
Corendon Dutch Airlines
KLM
Transavia
TUI fly Netherlands
Enter Air
LOT Polish Airlines
Azores Airlines
TAP Air Portugal
British Airways
Eastern Airways
easyJet
Flybe
Jet2
Loganair
TUI Airways
Virgin Atlantic
Czech Airlines
Smartwings
Blue Air
Tarom
Aeroflot
Aurora
Nordwind Airlines
Pobeda
Red Wings Airlines
Rossiya Airlines
RusLine
S7 Airlines
Smartavia
Ural Airlines
Utair
Yamal Airlines
Air Serbia
Air Europa
Binter Canarias
Iberia
Iberia Express
LEVEL
Plus Ultra Líneas Aéreas
Volotea
Vueling
Braathens Regional Airlines
Scandinavian Airlines
easyJet Switzerland
Edelweiss Air
Swiss
AnadoluJet
Corendon Airlines
Pegasus Airlines
SunExpress
Turkish Airlines
Motor Sich Airlines
SkyUp Airlines
Ukraine International Airlines
Yanair
Wizz Air

## Lista compagnie mondiali con codici iata

In [3]:
url='https://www.flightradar24.com/data/airlines/'
headers = {'User-Agent': 'Safari'}

s = requests.session()
response = s.get(url, headers = headers)
response

In [4]:
response.raise_for_status()
soup=bs4.BeautifulSoup(response.text, 'html.parser')
li=[]
for td in soup.select('td'):
    if len(td.text)>1 :
        if td.text != "":
            #print(td.text)
            li.append(td.text)
name = []
iata1 = []
aircraft = []
counter = 1

for i in li:
    if counter == 1: # siamo alla prima riga
        counter +=1
    elif counter == 2: # prendo il nome
        name.append(i)
        counter +=1
    elif counter == 3: # prendo il codice
        iata1.append(i)
        counter +=1
    else: # prendo il numero di aerei per la compagnia
        aircraft.append(i)
        counter = 1

iata = []
for i in iata1:
    s = str(i)
    s = s.replace(" / ", "-")
    s = s.lower()
    iata.append(s)

### Confronto lieu e se ci sono nella name ne prendo il codice iata e il numero di aircraft

In [5]:
nameEu = []
iataEu = []
for i in name:
    if i in lieu: # se il nome è contenuto negli europei allora lo prendo
        indice = name.index(i)
        nameEu.append(i) #salvo il nome
        iataEu.append(iata[indice]) #salvo il codice iata corrispondente

### Creo il dataframe con tutte le info

In [6]:
nameFrame = pd.DataFrame(nameEu, columns =['Airline'])
iataFrame = pd.DataFrame(iataEu, columns =['iataAirline'])

df = pd.concat([nameFrame,iataFrame],axis=1)
df

            Airline iataAirline
0   Aegean Airlines      a3-aee
1        Aer Lingus      ei-ein
2          Aeroflot      su-afl
3       Air Albania      zb-abn
4        Air Astana      kc-kzr
..              ...         ...
69  Virgin Atlantic      vs-vir
70          Volotea      v7-voe
71          Vueling      vy-vlg
72         Wizz Air      w6-wzz
73   Yamal Airlines      yc-llm

[74 rows x 2 columns]

In [7]:
df.to_csv('/Users/mattia/Desktop/FlyManProject/AirlineEU.csv')